{
  "extends": "semistandard",
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "plugins": [
    "chai-friendly"
  ],
  "globals": {
    "__ENV__": true,
    "fetch": false
  },
  "rules": {
    "camelcase": "off",
    "no-mixed-operators": "off",
    "no-useless-escape": "off",
    "no-unused-expressions": 0,
    "no-global-assign": "error",
    "chai-friendly/no-unused-expressions": 2
  }
}
